<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jingshan.stlgsc.web.goodstype.mapper.GoodsTypeMapper" >

  <resultMap id="BaseResultMap" type="cn.jingshan.stlgsc.web.goodstype.po.GoodsType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="mgr_id" property="mgrId" jdbcType="VARCHAR" />
    <result column="mgr_name" property="mgrName" jdbcType="VARCHAR" />
    <result column="insert_dt" property="insertDt" jdbcType="TIMESTAMP" />
    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, parent_id, mgr_id, mgr_name, insert_dt, update_dt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_goods_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.jingshan.stlgsc.web.goodstype.po.GoodsType" >
    insert into t_goods_type (id, name, parent_id, 
      mgr_id, mgr_name, insert_dt, 
      update_dt)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{mgrId,jdbcType=VARCHAR}, #{mgrName,jdbcType=VARCHAR}, #{insertDt,jdbcType=TIMESTAMP}, 
      #{updateDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.jingshan.stlgsc.web.goodstype.po.GoodsType" >
    insert into t_goods_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="mgrId != null" >
        mgr_id,
      </if>
      <if test="mgrName != null" >
        mgr_name,
      </if>
      <if test="insertDt != null" >
        insert_dt,
      </if>
      <if test="updateDt != null" >
        update_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="mgrId != null" >
        #{mgrId,jdbcType=VARCHAR},
      </if>
      <if test="mgrName != null" >
        #{mgrName,jdbcType=VARCHAR},
      </if>
      <if test="insertDt != null" >
        #{insertDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jingshan.stlgsc.web.goodstype.po.GoodsType" >
    update t_goods_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="mgrId != null" >
        mgr_id = #{mgrId,jdbcType=VARCHAR},
      </if>
      <if test="mgrName != null" >
        mgr_name = #{mgrName,jdbcType=VARCHAR},
      </if>
      <if test="insertDt != null" >
        insert_dt = #{insertDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null" >
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jingshan.stlgsc.web.goodstype.po.GoodsType" >
    update t_goods_type
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      mgr_id = #{mgrId,jdbcType=VARCHAR},
      mgr_name = #{mgrName,jdbcType=VARCHAR},
      insert_dt = #{insertDt,jdbcType=TIMESTAMP},
      update_dt = #{updateDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 手动添加 -->
  <select id="selectCount" resultType="cn.jingshan.stlgsc.common.page.CountNum">
    select count(*) as count from t_goods_type
  </select>
  
  <select id="queryByPaging" resultMap="BaseResultMap" parameterType="cn.jingshan.stlgsc.common.page.PageParameter" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_type order by insert_dt desc limit #{start}, #{length}
  </select>
  
  <select id="queryByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_type
    where id = #{name,jdbcType=VARCHAR}
  </select>
  
   <!-- 批量删除 -->
  <delete id="deleteBatch" parameterType="java.util.List" >
    delete from t_goods_type where id in 
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">   
        #{item}   
    </foreach>  
  </delete>
</mapper>